/* --- Basic Setup ---- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #424141;
    font-family: 'arial', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background-color: whitesmoke;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---- Resuable Elements ---- */

row {
    max-width: 1140px;
    margin: auto 0;
}

section { padding: 80px 0;}

/* Paragraphs */

.site-text {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}

/* Button */

button {
    width:  200px;
    height: 50px;
    border-radius: 20px; 
    color: #424141; 
    font-size: 20px; 
    border-color: #035e00; 
}

button:focus { outline: none;}

button:hover {  background-color: #035e00; }

.buttonTxt:hover { color: white; }

/* Headings */

h1 {
    color:white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* --- Header  --- */

header {
    text-align: center;
    background-image: url("./img/Grazing_Header.jpg");
    background-size: cover;
    background-position: center;
    height: 92vh;
}

#openTextBox {
    position: absolute;
    width: 1140px;
    top: 93%;
    left: 86%;
    transform: translate(-50%, -50%);
    padding-bottom: 25%;
}

/* --- Nav Bar --- */

@keyframes leftSlide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }



nav {
    animation: .7s ease-out 0s 1 leftSlide;
    background: rgb(39, 38, 38);
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
  }

.sticky-nav nav {
    position: fixed;
    box-shadow: 0.5px rgba(0, 0, 0, 0.1);
  }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

.sticky-nav li.logo { max-width: 500px; }


li.logo a { color:black; }

nav a, #cartStyle {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
}

.container {
    display: inline-block;
    padding-left: 20px;
}


/* --- image break --- */

.image-section {
    padding: 0;
}

.images {
    margin-top: 10px;
    list-style: none;
    width: 100%;
}

.images li {
    display: block;
    float: left;
    width: 33.33%;
}

.image-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.image-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.image-photo img:hover {
    opacity: 1;
    transform: scale(1.04);
}

/* --- Products  --- */

.sectionTag { padding-bottom: 25px;}

.products { background-color: rgb(247, 247, 247); }

.productText { 
    margin-top: 10px; 
    padding-left: 15%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 300px;
}

.tallowFeatures { 
    padding-left: 20px; 
    padding-top: 10px;
}

.formStyle { padding-top: 25px; }

input { 
    margin-top: 10px;
    width: 150px;
    height: 30px;
}

/* --- Footer --- */

.footer {
    background-color: #252525;
    padding: 50px;
    font-size: 90%;
}

.contactlist {
    list-style: none;
    float: right;
}

.contactList li
{
    display: inline-block;
    margin-right: 20px;
}

.contactList li, 
.contactList li a:link, 
.contactList li a:visited { 
    text-decoration: none;
    color: #555;
} 


.contactList li:hover,
.contactList li:active,
.contactList li a:hover,
.contactList li a:active { color: #ddd; }

.contactList li:nth-child(1) { color: #555; }



